.mchatblk {
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    border-radius: 15px;

    .muserslistblk {
        display: block;
        border-radius: inherit;
        padding: 15px;

        .userslistblk {
            display: block;

            .userslistitem {
                cursor: pointer;
            }

            ul, ol {
                list-style-position: inside;

                li {
                    list-style-type: none;
                    list-style-position: inside;
                }
            }

            .userchatsel {
                background-color: yellow;
                color: black;
            }
        }
    }

    .mchatmsgsblk {
        display: block;
        border-radius: inherit;
        padding: 15px;

        .chatmsgsblk {
            display: block;
        }

        .chatmsgform {
            textarea {
                padding: 15px;
            }
        }
    }
}

@media all and (width <= 768px) {
    .mchatblk {
        flex-direction: column;
    }
}