.mchatblk {
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    border-radius: 15px;

    .muserslistblk {
        display: block;
        border-radius: inherit;
        padding: 15px;

        .userslistblk {
            display: block;

            .userslistitem {
                cursor: pointer;
            }

            .userstitle {
                flex-wrap: wrap;
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 120px;

                &:hover {
                    text-overflow: clip;
                    white-space: normal;
                    max-width: 100%;
                }
            }

            ul, ol {
                list-style-position: inside;

                li {
                    list-style-type: none;
                    list-style-position: inside;
                }
            }

            .userchatsel {
                background-color: yellow;
                color: black;
            }
        }
    }

    .mchatmsgsblk {
        display: block;
        border-radius: inherit;
        padding: 15px;

        .chatmsgsblk {
            display: block;
        }

        .chatmsgform {
            textarea {
                padding: 15px;
            }
        }
    }
}

@media all and (width <= 768px) {
    .mchatblk {
        flex-direction: column;
    }
}