.mchatblk {
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    border-radius: 15px;

    .muserslistblk {
        display: block;
        border-radius: inherit;
        padding: 15px;

        .userslistblk {
            display: block;

            .userslistitem {
                cursor: pointer;
            }

            .userstitle {
                flex-wrap: wrap;
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 120px;

                &:hover {
                    text-overflow: clip;
                    white-space: normal;
                    max-width: 100%;
                }
            }

            ul, ol {
                list-style-position: inside;

                li {
                    list-style-type: none;
                    list-style-position: inside;
                }
            }

            .userchatsel {
                background-color: yellow;
                color: black;
            }
        }
    }

    .mchatmsgsblk {
        display: block;
        border-radius: inherit;
        padding: 15px;

        .chatmsgsblk {
            display: block;
            background-color: #3f51b5;
            border-radius: inherit;
            padding: 15px;
            max-height: 600px;
            overflow: auto;

            .subchatmsgsblk {
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                align-items: stretch;
            
                .mat-mdc-card-avatar, .img-avatar, img {
                    position: relative;
                }
        
                .mat-mdc-card {
                    width: 100%;
                    border-radius: 25px;
                    border-top-left-radius: 0px;
                    margin: 7px;
                }

                .received {
                    display: inherit;
                    width: 100%;

                    .mat-mdc-card-avatar, .img-avatar, img {
                        order: 1 !important;
                    }
            
                    .mat-mdc-card {
                        order: 0 !important;
                        border: 0 !important;
                        border-top-right-radius: 0px;
                        border-top-left-radius: 25px;

                        ::after {
                            content: "";
                            position: absolute;
                            top: 0px;
                            right: -7px;
                            width: 7px;
                            height: 7px;
                            background: linear-gradient(-225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
                            border: 0;
                        }
                    }
                }

                .sent {
                    display: inherit;
                    width: 100%;

                    .mat-mdc-card-avatar, .img-avatar, img {
                        order: 0 !important;
                    }
            
                    .mat-mdc-card {
                        order: 1 !important;
                        border: 0 !important;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 25px;

                        ::after {
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: -7px;
                            width: 7px;
                            height: 7px;
                            background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
                            border: 0;
                        }
                    }
                }
            }
        }

        .chatmsgform {
            textarea {
                padding: 15px;
            }
        }
    }
}

@media all and (width <= 992px) {
    .mchatblk {
        flex-direction: column;
    }
}