<div class="container-fluid p-3">
    <div class="row">
        @if(!!isChatEnabled) {
        <div class="col-12 mchatblk p-3">
            <div class="col-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 muserslistblk">
                <div class="userslistblk" *ngIf="(usersList$ | async) as myuserslistm">
                    <div *ngIf="myuserslistm.length > 0">
                        <mat-card class="userslistitem mt-3" *ngFor="let usersx of myuserslistm">
                            <mat-card-header class="p-3" (click)="talkToThisUser($event, usersx.userId, usersx.username)">
                                <mat-card-title-group class="align-items-center">
                                    <mat-card-title class="userstitle">{{usersx.firstName + " " + usersx.lastName}}</mat-card-title>
                                    <myimg [imgObj]="{ url: usersx.avatarUrl, alt: usersx.avatarUrl, class: 'img-fluid img-avatar img-rounded', width: '50', height: '50' }" />
                                </mat-card-title-group>
                            </mat-card-header>
                        </mat-card>
                    </div>

                    <div *ngIf="myuserslistm.length == 0">
                        <div class="d-flex flex-column justify-content-center align-items-center errblk p-3">
                            <mat-icon>error</mat-icon>
                            <h2 class="tjustify mt-3 mb-0">No users are online to talk them!</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9 mchatmsgsblk">
                <div class="chatmsgsblk" *ngIf="(chatMessagesData$ | async) as mychtmsg">
                    <div *ngIf="(usersList$ | async) as myuserslist">
                        <div *ngIf="myuserslist.length > 0">
                            <div *ngIf="mychtmsg.length > 0">
                                <div *ngFor="let chmsgs of mychtmsg">
                                    <div *ngFor="let chusers of myuserslist">
                                        <div *ngIf="chusers.userId == chmsgs.userId" class="subchatmsgsblk">
                                            <div [classList]="chmsgs.typeMsg">
                                                <myimg [imgObj]="{ url: chusers.avatarUrl, alt: chusers.avatarUrl, class: 'img-fluid img-avatar img-rounded m-0', width: '50', height: '50' }" mat-card-avatar />

                                                <mat-card class="mt-3 mb-3">
                                                    <mat-card-header class="align-items-center">
                                                        <mat-card-title>
                                                            {{chusers.firstName + ' ' + chusers.lastName}}
                                                        </mat-card-title>
                                                    </mat-card-header>
                                                    <mat-card-content class="mt-3">
                                                        {{chmsgs.description}}
                                                    </mat-card-content>
                                                    <mat-card-footer class="mt-3 ps-3 pe-3 pb-3">
                                                        <mat-card-subtitle>
                                                            {{ chmsgs.dateChatMessageCreated | date: 'full' : '' : translateService.currentLang }}
                                                        </mat-card-subtitle>
                                                    </mat-card-footer>
                                                </mat-card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="mychtmsg.length == 0">
                                <div class="d-flex flex-column justify-content-center align-items-center errblk p-3">
                                    <mat-icon>error</mat-icon>
                                    <h2 class="tjustify mt-3 mb-0">{{ 'navbar.chatMessagesData' | translate }}</h2>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="myuserslist.length == 0">
                            <div class="d-flex flex-column justify-content-center align-items-center errblk p-3">
                                <mat-icon>error</mat-icon>
                                <h2 class="tjustify mt-3 mb-0">No users are online to talk them!</h2>
                            </div>
                        </div>
                    </div>

                </div>
                <form [formGroup]="chatMessageForm" (ngSubmit)="onSubmit()" class="chatmsgform mt-3">
                    <div class="d-flex flex-row justify-content-center align-items-start">
                        <mat-form-field class="w-100">
                            <textarea id="description" formControlName="description"
                                class="form-control text-start w-100" cols="1" rows="3"
                                placeholder="Write something here..." resize required matInput></textarea>
                        </mat-form-field>

                        <button type="submit" class="ms-1" mat-fab color="accent" [disabled]="!chatMessageForm.valid">
                            <mat-icon title="Send">send</mat-icon>
                        </button>
                    </div>

                    <div class="form-group mt-3">
                        <button type="button" mat-flat-button color="warn" (click)="deleteAll()">Delete all</button>
                        <button type="reset" mat-flat-button color="primary" class="ms-3">Clear</button>
                        <button type="button" mat-flat-button color="accent" class="ms-3" (click)="reload()" [disabled]="!enableForceReload">Reload</button>
                    </div>
                </form>
            </div>
        </div>
        } @else {
        <div class="d-flex flex-column justify-content-center align-items-center errblk">
            <mat-icon>error</mat-icon>
            <h2 class="tjustify mt-3">This chat is currently disabled. Please go back!</h2>
            <a routerLink="/newsfeed" mat-flat-button color="primary" class="btn btnback mt-3">Back</a>
        </div>
        }
    </div>
</div>