<div class="container-fluid">
    <div class="row mbkgimg">
        <div class="col-12 col-md-6 colhome">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <div class="footer">
                <div class="pagelinks">
                    <a href="tos">TOS</a>
                    <a href="privacypolicy">Privacy Policy</a>
                    <a href="codeconduct">Code of Conduct</a>
                    <a href="cookiepolicy">Cookie Policy</a>
                </div>
                <div class="copyright">
                    &copy;<span id="yearnow">{{yearnow}}</span> - LCP - Created by <a href="mailto:luiscarvalho239@gmail.com">Luis Carvalho</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 colhomeinfo">
            <h2 class="title">Proceed to authentication</h2>
            <a mat-flat-button href="auth/login" color="accent">Ok</a>
            <a mat-flat-button href="home" color="primary">Back</a>
        </div>
    </div>
</div>
