<div class="container-fluid auth">
    <div class="row mbkgimg">
        <div class="col-12 col-md-6 colhome">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <app-footer></app-footer>
        </div>
        <div class="col-12 col-md-6 colhomeinfo">
            <h2 class="title">Proceed to authentication</h2>
            <a mat-flat-button routerLink="/auth/login" color="accent">Ok</a>
            <a mat-flat-button routerLink="/" color="primary">Back</a>
        </div>
    </div>
</div>
