<div class="container-fluid">
    <div class="row mbkgimg">
        <div class="col-12 pagecookiepolicy">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <h2 class="title">Cookie Policy</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam veniam voluptates nulla repellat rerum nemo eveniet quae sint dolor facilis, corrupti placeat! Inventore ut laudantium dignissimos nostrum porro mollitia cum.
                Odio dolorem laborum dolorum nam voluptatem assumenda ipsam maxime doloribus impedit eius! Unde facere aperiam, quae nisi modi hic nam? Veritatis nobis magni suscipit, animi quae natus totam distinctio nesciunt.
                Similique, animi. Rem voluptatibus in nesciunt explicabo veritatis officia earum sapiente enim ut. Ipsum nesciunt optio accusamus deserunt, consequatur veniam autem quasi eligendi quas animi perferendis minima eos itaque at!
                Dolor debitis, provident optio at quidem eos dolore, possimus cupiditate, quisquam beatae tenetur natus quam laborum id nisi velit nobis. Libero soluta ad tenetur numquam, nam veniam delectus iure harum.
                Tempora eaque architecto, quam perferendis dicta placeat suscipit in iste esse voluptates dolor eius. Laborum repellat eaque harum! Temporibus tempore porro quas odit consequuntur asperiores ratione natus sit quam rem.
                Labore laborum a magnam minima porro tempore cum aliquam similique est animi sed ipsum eos corrupti, quidem illum facere perferendis aliquid officia saepe odit. Consequuntur perferendis molestiae exercitationem earum aperiam.
                Recusandae reprehenderit laborum quo officiis, beatae accusantium? Doloribus officiis expedita labore rem deleniti necessitatibus eaque adipisci illo ducimus quasi, est ratione voluptate a, beatae ex velit architecto maxime vero in.
                Non necessitatibus ipsam quia nihil dolores ad enim eos ab perspiciatis maiores quas voluptates natus sunt, et nobis officiis corrupti aut eius tenetur distinctio placeat, ex possimus eaque molestiae. Corporis!
                Ab similique fugit magnam nostrum, unde quia illo repellat dolore quas quae sint hic consequuntur ex voluptatum cum adipisci suscipit consectetur aperiam error quo, doloremque possimus voluptate tempore. Repellat, odio.
                Cupiditate exercitationem dolorum aliquid sit beatae laborum, neque repudiandae sapiente sint? Consequuntur magnam, molestias maxime nulla harum ad laboriosam ducimus sed necessitatibus consequatur vero ullam adipisci delectus quibusdam odio facilis.
                Excepturi nostrum voluptatem eius ab repellendus rerum molestias aliquid veritatis sit aperiam adipisci reprehenderit beatae deserunt magnam blanditiis molestiae commodi, alias assumenda maxime quam quibusdam ipsum omnis! Vero, consequatur aspernatur.
                Mollitia ea laboriosam aliquid delectus? Tenetur dolore fugit molestias fugiat, harum consequuntur sit veniam, voluptas optio recusandae, quas saepe. Nesciunt distinctio quidem neque reiciendis hic sequi nostrum quae vitae. Porro.
            </p>
            <a href="home" mat-flat-button color="primary" class="mb-3">Back</a>
            <app-footer></app-footer>
        </div>
    </div>
</div>
