<div class="container p-3">
    <div class="row">
        <h3 class="mt-3 mb-3">{{ 'users.title' | translate }}</h3>
        
        @if(userId != -1 && userId != undefined) {
            <div class="col-12 p-3 usersdetails">
                @if(usersData) {
                    <mat-card *ngFor="let user of usersData">
                        <mat-card-header class="headercard">
                            <myimg [imgObj]="{ url: user.coverUrl, alt: user.coverUrl, class: 'img-fluid img-cover', width: '1920', height: '1200' }" />
                            <myimg [imgObj]="{ url: user.avatarUrl, alt: user.avatarUrl, class: 'img-fluid img-avatar img-avatar-udetails', width: '150', height: '150' }" />
                        </mat-card-header>
                        <mat-card-content class="contentcard">
                            <h2>{{user.username}}</h2>
                            <mat-tab-group>
                                <mat-tab label="Info"> 
                                    <div class="infousers mt-3">
                                        <p>Full Name: {{user.firstName}} {{user.lastName}}</p>
                                        <p>Role: {{user.role}}</p>
                                        <p>Date Account Created: {{user.dateAccountCreated}}</p>
                                        <p>Email: {{user.email ?? 'N/A'}}</p>

                                        <div *ngIf="this.authUserInfo.userId !== user.userId">
                                            <div *ngIf="(friendRequestsData$ | async) as myfreq">
                                                @if(myfreq != null && myfreq.length > 0) {
                                                    @if(myfreq[0].friendRequestType == "accepted") {
                                                        <button mat-flat-button color="primary" class="btn btnrejectfriend mt-3" (click)="OnRejectFriend()">
                                                            Reject this friend
                                                        </button>
                                                    }
                                                } @else {
                                                    <button mat-flat-button color="primary" class="btn btnaddfriend mt-3" (click)="OnAddFriend(user)">
                                                        Add this friend
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Posts">
                                    <div class="postusers mt-3">
                                        <app-readposts></app-readposts>
                                    </div>
                                </mat-tab>
                                <mat-tab label="About">
                                    <div class="aboutusers mt-3">
                                        <p class="t-justify">{{user.biography ?? 'N/A'}}</p>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-card-content>
                    </mat-card>
                } @else {
                    <div class="d-flex flex-column justify-content-center align-items-center errblk">
                        <mat-icon>error</mat-icon>
                        <h2 class="tjustify mt-3">0 users</h2>
                    </div>
                }
            </div>

            <div class="col-12 mx-auto text-center mt-3 mb-3">
                <a mat-flat-button href="users" color="primary">Back</a>
            </div>
        } @else {
            @if(usersData) {
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-3 users" *ngFor="let usersAll of usersData">
                    <a href="users/{{usersAll.userId}}">
                        <mat-card>
                            <mat-card-header class="headercard">
                                <myimg [imgObj]="{ url: usersAll.coverUrl, alt: usersAll.coverUrl, class: 'img-fluid img-cover', width: '1920', height: '1200' }" />
                                <myimg [imgObj]="{ url: usersAll.avatarUrl, alt: usersAll.avatarUrl, class: 'img-fluid img-avatar img-avatar-udetails', width: '150', height: '150', isPriority: false }" />
                            </mat-card-header>
                            <mat-card-content class="contentcard">
                                <h2>{{usersAll.username}}</h2>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            } @else {
                <div class="d-flex flex-column justify-content-center align-items-center errblk">
                    <mat-icon>error</mat-icon>
                    <h2 class="tjustify mt-3">You're not authorized to see this page!</h2>
                </div>
            }

            <div class="col-12 mx-auto text-center mt-3 mb-3">
                <a mat-flat-button href="newsfeed" color="primary">Back</a>
            </div>
        }
    </div>
</div>

<app-footer></app-footer>