<button type="button" mat-flat-button color="primary" (click)="toggleCreate()">Toggle create</button>

@if(isPostFrmVisible) {
    <form [formGroup]="postsFrm" (ngSubmit)="OnSubmit()" class="postsForm">
        <mat-form-field class="mt-3">
            <mat-label for="title">Title</mat-label>
            <input id="title" type="text" formControlName="Title" class="form-control text-start mt-3" title="Write here the post title" required matInput>
        </mat-form-field>
        <mat-form-field class="mt-3">
            <mat-label for="description">Description</mat-label>
            <textarea formControlName="Description" class="form-control text-start mt-3" title="Write here the post description" cols="1" rows="10" required matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mt-3">
            <mat-label for="imgUrl">Image Url</mat-label>
            <input id="imgUrl" type="text" formControlName="ImgUrl" class="form-control text-start mt-3" title="Write here the post image url" matInput>
        </mat-form-field>
        <mat-form-field class="mt-3">
            <mat-label for="status">Status</mat-label>
            <mat-select id="status" formControlName="Status" class="text-start mt-3" title="Select the status of post">
                <mat-option value="public">Public</mat-option>
                <mat-option value="private">Private</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="mt-3">
            <mat-label for="typeTxtPost">Type Text Post</mat-label>
            <mat-select id="typeTxtPost" formControlName="TypeTxtPost" class="text-start mt-3" title="Select the type text of post">
                <mat-option value="html">HTML</mat-option>
                <mat-option value="markdown">Markdown</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="mat-form-field mt-3">
            <mat-checkbox id="isFeatured" formControlName="IsFeatured" class="text-start" title="Select the status of featured post">Is Featured</mat-checkbox>
        </div>
        <div class="form-group mt-3">
            <button type="reset" mat-flat-button color="primary">Clear</button>
            <button type="submit" class="ms-3" mat-flat-button color="accent" [disabled]="!postsFrm.valid">Submit</button>
        </div>
    </form>
}
