<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
</head>

<body id="profile" class="theme">
    <div class="blkmodalmyfriendreqs" id="blkmodalmyfriendreqs"></div>
    <div class="blkmodalmyprivatemessages" id="blkmodalmyprivatemessages"></div>
    <div class="blkmodalmynotifications" id="blkmodalmynotifications"></div>
    <div class="blkmodalmyreactions" id="blkmodalmyreactions"></div>
    <div class="blkmodalmyshares" id="blkmodalmyshares"></div>
    <div class="blkmodalmysharepost" id="blkmodalmysharepost"></div>

    <div class="mynavbarblk" id="mynavbarblk"></div>

    <div class="container max-container">
        <div class="row p-0 mt-3 mb-3">
            <div class="col-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 sideleft">
                <div class="subside">
                    <div class="myprofilesbleft" id="myprofilesbleft"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9 sideright">
                <div class="subside">
                    <h3 class="title">
                        <i class="bi bi-trash"></i>
                        Delete the post
                    </h3>
                    <div class="mydelpostform" id="mydelpostform"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mycopyrightblk" id="mycopyrightblk"></div>
</body>

</html>