node_modules
package-lock.json
.npmrc
frontend/.npmrc
frontend/package-lock.json
frontend/dist/*
backend/API/nodejs/node_modules
backend/API/nodejs/package-lock.json
backend/API/nodejs/.npmrc
/backend/API/aspnetcore/lcpsnapi/.vs/
/backend/API/aspnetcore/lcpsnapi/bin/
/backend/API/aspnetcore/lcpsnapi/obj/
/backend/API/aspnetcore/lcpsnapi/.vs/lcpsnapi/FileContentIndex/43b8ffef-bdaf-4e36-931f-c104c7e6f642.vsidx
/backend/API/aspnetcore/lcpsnapi/.vs/lcpsnapi/FileContentIndex/43b8ffef-bdaf-4e36-931f-c104c7e6f642.vsidx
/backend/API/aspnetcore/lcpsnapi/.vs/lcpsnapi/FileContentIndex/89234ed5-eb4e-41f5-b795-4572ddf6a9f5.vsidx
/backend/API/aspnetcore/lcpsnapi/.vs/lcpsnapi/v17/.suo
/backend/API/aspnetcore/lcpsnapi/.vs/lcpsnapi/FileContentIndex
/backend/API/aspnetcore/lcpsnapi/obj/project.nuget.cache
