node_modules
package-lock.json
.npmrc
frontend/.npmrc
frontend/package-lock.json
backend/API/aspnetcore/lcpsnapi/bin/
backend/API/aspnetcore/lcpsnapi/obj/
backend/API/nodejs/node_modules
backend/API/nodejs/package-lock.json
backend/API/nodejs/.npmrc
frontend/dist
dist