<div class="myfooter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pagelinks">
                    <a href="tos">TOS</a>
                    <a href="privacypolicy">Privacy Policy</a>
                    <a href="codeconduct">Code of Conduct</a>
                </div>
                <div class="copyright">
                    &copy;<span id="yearnow">{{yearnow}}</span> - LCP - Created by <a href="mailto:luiscarvalho239@gmail.com">Luis Carvalho</a>
                </div>
            </div>
        </div>
    </div>
</div>