<div class="myfooter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pagelinks">
                    <a routerLink="/tos" routerLinkActive="active">TOS</a>
                    <a routerLink="/privacypolicy" routerLinkActive="active">Privacy Policy</a>
                    <a routerLink="/codeconduct" routerLinkActive="active">Code of Conduct</a>
                    <a routerLink="/cookiepolicy" routerLinkActive="active">Cookie Policy</a>
                </div>
                <div class="copyright">
                    &copy;<span id="yearnow">{{yearnow}}</span> - LCP - Created by <a href="mailto:luiscarvalho239@gmail.com">Luis Carvalho</a>
                </div>
            </div>
        </div>
    </div>
</div>