<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
</head>

<body id="profile" class="theme">
    <div class="blkmodalmyfriendreqs" id="blkmodalmyfriendreqs"></div>
    <div class="blkmodalmyprivatemessages" id="blkmodalmyprivatemessages"></div>
    <div class="blkmodalmynotifications" id="blkmodalmynotifications"></div>
    <div class="blkmodalmyreactions" id="blkmodalmyreactions"></div>
    <div class="blkmodalmyshares" id="blkmodalmyshares"></div>
    <div class="blkmodalmysharepost" id="blkmodalmysharepost"></div>
    <div class="blkmodaleditmypost" id="blkmodaleditmypost"></div>
    <div class="blkmodaldelmypost" id="blkmodaldelmypost"></div>

    <div class="mynavbarblk" id="mynavbarblk"></div>

    <div class="container max-container">
        <div class="row p-0 mt-3 mb-3">
            <div class="col-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 sideleft">
                <div class="subside">
                    <div class="blkabout">
                        <h3 class="title">About</h3>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias quidem porro explicabo itaque animi, exercitationem illum quisquam pariatur obcaecati possimus quam numquam harum consectetur. Quam reiciendis voluptatibus suscipit voluptas.</p>
                    </div>
                    
                    <div class="blkfriends">
                        <h3 class="title">Friends (2)</h3>
                        <div class="table-responsive mt-3">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="assets/images/guest.png" width="50" height="50" alt="John Doe" class="img-fluid imguser">
                                            <p class="titleuser mt-3">John Doe</p>
                                        </td>
                                        <td>
                                            <img src="assets/images/guest.png" width="50" height="50" alt="Mary Doe" class="img-fluid imguser">
                                            <p class="titleuser mt-3">Mary Doe</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="blkgroups">
                        <h3 class="title">Groups (3)</h3>
                        <ul class="listgroups">
                            <li class="grp grpgames">
                                <i class="bi bi-controller grpico grpgamesico"></i>
                                <a href="pages/groups.html#games" class="grptitle">Games</a>
                            </li>
                            <li class="grp grpprogramingandit">
                                <i class="bi bi-laptop grpico grpprogitico"></i>
                                <a href="pages/groups.html#progandit" class="grptitle">Programming & IT</a>
                            </li>
                            <li class="grp grpmovies">
                                <i class="bi bi-film grpico grpmoviesico"></i>
                                <a href="pages/groups.html#movies" class="grptitle">Movies</a>
                            </li>
                        </ul>
                    </div>

                    <div class="mblklinksfooter">
                        <div class="blklinksfooter">
                            <div class="sublinksfooter">
                                <a href="pages/main.html" class="btn btn-primary btnreturntonfeed" id="btnreturntonfeed">
                                    <i class="bi bi-newspaper"></i>
                                    <span class="ms-1">Return to my newsfeed</span>
                                </a>
                            </div>
                            <div class="sublinksfooter mt-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="togThemeDarkMode">
                                    <label class="form-check-label" for="togThemeDarkMode">Toggle dark mode</label>
                                </div>
                            </div>
                            <div class="sublinksfooter mt-3">
                                <a href="pages/privacy_policy.html">Privacy Policy</a>
                                <a href="pages/about.html">About</a>
                                <a href="pages/terms_of_service.html">Terms of Service</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9 sideright">
                <div class="subside">
                    <div class="myreportprofileform" id="myreportprofileform"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mycopyrightblk" id="mycopyrightblk"></div>
</body>

</html>