<mat-toolbar color="primary" class="mynavbar">
    <a href="home" class="navbarbrandct">LCPSN</a>
    
    <span class="example-spacer"></span>
    
    <mat-form-field class="searchblk" appearance="fill" color="accent" placeholder="Type" [matMenuTriggerFor]="menusearch">
        <mat-label>Search</mat-label>
        <input class="searchinp" matInput placeholder="Search">
        <mat-icon matSuffix aria-hidden="false">search</mat-icon>
    </mat-form-field>

    <mat-menu class="p-3" #menusearch="matMenu">
        <p>Search</p>
        <p>Coming soon</p>
    </mat-menu>

    <span class="example-spacer"></span>

    @if(user) {
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="menunotifications" aria-label="Notifications menu">
                <mat-icon matBadge="0" matBadgeColor="warn" aria-hidden="false">notifications</mat-icon>
                <span class="cdk-visually-hidden">
                    Notifications
                </span>
            </button>
            <button class="ms-1" mat-icon-button [matMenuTriggerFor]="menuchat" aria-label="Chat menu">
                <mat-icon matBadge="0" matBadgeColor="warn" aria-hidden="false">chat</mat-icon>
                <span class="cdk-visually-hidden">
                    Chat Messages
                </span>
            </button>
            <button class="ms-1" mat-icon-button [matMenuTriggerFor]="menu" aria-label="User control menu">
                <img src="{{user.usersInfo.avatarUrl ?? '/assets/images/bkg.jpeg'}}" alt="{{user.usersInfo.username}}" class="img-fluid img-avatar" />
            </button>
        </div>
        
        <mat-menu class="p-3" #menunotifications="matMenu">
            <p>0 notifications!</p>
        </mat-menu>
        <mat-menu class="p-3" #menuchat="matMenu">
            <p>0 chat messages!</p>
        </mat-menu>
        <mat-menu #menu="matMenu">
            <a class="text-center" href="users/{{user.usersInfo.userId}}" mat-menu-item>
                <span>{{user.usersInfo.username}}</span>
            </a>
            <a href="settings" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </a>
            <button (click)="logout()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    } @else {
        <a mat-flat-button color="accent" href="/auth/login">
            Login
        </a>
    }
</mat-toolbar>