@if(aryLanguages) {
    <div class="languageswitchblk">
        <mat-form-field appearance="outline">
            <mat-select id="languageswitch" class="languageswitch" [value]="selectedLanguage" (selectionChange)="switchLanguage($event.value)" placeholder="Select language">
                <mat-option *ngFor="let xl of aryLanguages" [value]="xl.countryCodeIso" data-id="{{xl.id}}">
                    {{xl.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
}