.socialcounters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-left: -6px;
    margin-right: -6px;
    padding: 0;
}

.colreactions, .colcomments, .colshares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.numreactions, .numcomments, .numshares {
    cursor: pointer;
}

.btnreactions, .btnreact, .btncomments, .btnshares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;

    .mat-icon, span {
        $sizefont: 16px;

        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        width: $sizefont;
        height: $sizefont;
        max-width: 100%;
        max-height: 100%;
        font-size: $sizefont;
        line-height: $sizefont;
    }
}

.ctxtjustify {
text-align: justify;
line-height: 2rem;
}

.errblk {
    color: black;
}

.reactlike { color: blue; }
.reactdislike { color: gray; }
.reactlove { color: red; }
.reactcourage { color: rgb(143, 10, 0); }
.reactlaugh { color: orange; }
.reactsurprised { color: green; }
.reactsad { color: rgb(8, 145, 190); }
.reactangry { color: purple; }