<div class="socialcounters">
    <div class="colreactions" *ngIf="(reactionsData$ | async) as myreactionsdata">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <button class="btnreactions btnreactions{{postId}}" id="btnreactions{{postId}}" mat-icon-button aria-label="Reactions" [matMenuTriggerFor]="reactionMenu">
                <mat-icon class="material-symbols-outlined react{{reactionTypeName}}" *ngIf="postId == reactionId">
                    {{reactionTypeValue}}
                </mat-icon>
                <mat-icon class="material-symbols-outlined reactlike" *ngIf="postId !== reactionId">
                    thumb_up
                </mat-icon>
            </button>
            <span class="ms-1 numreactions" (click)="openReactionMenu()">
                {{numReactions$ | async}}
            </span>
        </div>

        <mat-menu class="myreactionmenu" #reactionMenu="matMenu" yPosition="above">
            <button (click)="setReactionType(xmrd, postId)" *ngFor="let xmrd of myreactionsdata" class="btnreact{{xmrd.name}}" mat-menu-item>
                <mat-icon class="material-symbols-outlined">{{xmrd.value}}</mat-icon>
            </button>
        </mat-menu>
    </div>
    <div class="colcomments">
        <button class="btncomments" mat-icon-button aria-label="Comments">
            <mat-icon>comments</mat-icon>
            <span>{{numComments$ | async}}</span>
        </button>
    </div>
    <div class="colshares">
        <button class="btnshares" mat-icon-button aria-label="Shares">
            <mat-icon>shares</mat-icon>
            <span>{{numShares$ | async}}</span>
        </button>
    </div>
</div>