.myreactionsdialog {
    width: 100%;
}

.errblk {
    color: black;
}

.reactlike { color: blue; }
.reactdislike { color: gray; }
.reactlove { color: red; }
.reactcourage { color: rgb(143, 10, 0); }
.reactlaugh { color: orange; }
.reactsurprised { color: green; }
.reactsad { color: rgb(8, 145, 190); }
.reactangry { color: purple; }

.hidden { display: none; }