@mixin setContentGlass {
    $bkgColorPrimary: rgba(17, 25, 40, 0.75);
    $bkgColorPrimaryOp: rgba(17, 25, 40, .5);
    $bkgColorSecondary: transparent;
    $backDropFilter: blur(16px) saturate(180%);
    $border: 1px solid rgba(255, 255, 255, 0.125);
    $color: white;
    $bkgImage: url('/assets/images/bkg.jpeg');
    $bkgAttachment: fixed;
    $bkgPosition: center center;
    $bkgRepeat: no-repeat;
    $bkgSize: cover;

    ::ng-deep .errblk {
        color: $color;
    }

    .mat-mdc-card-subtitle~.mat-mdc-card-title, .mat-mdc-card-title~.mat-mdc-card-subtitle, .mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-title, .mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-subtitle, .mat-mdc-card-title-group .mat-mdc-card-title, .mat-mdc-card-title-group .mat-mdc-card-subtitle {
        color: $color;
    }

    .mat-mdc-card-subtitle {
        color: $color;
    }

    .colhome {
        background-color: $bkgColorSecondary;
    }

    .pagetos,
    .pagecoc, .pageprivacypolicy,
    .pagecookiepolicy {
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;

        .blklogo {
            background-color: $bkgColorPrimary;
            border: $border;
            color: $color;
        }
    }

    .colhomeinfo, .settings, .mat-mdc-card, 
    .postsForm, .postsCreateForm, 
    .postsUpdateForm, .postsDeleteForm, 
    .errblk {
        -webkit-backdrop-filter: $backDropFilter;
        backdrop-filter: $backDropFilter;
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;
    }

    .mymenuuseroptions {
        -webkit-backdrop-filter: $backDropFilter;
        backdrop-filter: $backDropFilter;
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;

        * {
            color: $color;
        }
    }

    .myreactionmenu {
        -webkit-backdrop-filter: $backDropFilter;
        backdrop-filter: $backDropFilter;
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;

        * {
            color: $color;
        }
    }

    .mfeedbacks {
        -webkit-backdrop-filter: $backDropFilter;
        backdrop-filter: $backDropFilter;
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;
    }

    .feedbackform {
        color: $color;

        .mdc-floating-label, mat-label {
            color: $color;
        }

        .mat-mdc-text-field-wrapper {
            background-color: $bkgColorPrimary;
            border: $border;
            color: $color;

            ::placeholder {
                color: $color;
            }
        }

        .mdc-text-field__input {
            color: $color;
        }

        input:not([type="button"]):not([type="submit"]):not([type="reset"]), textarea {
            color: $color;

            ::placeholder {
                color: $color;
            }
        }
    }

    .feedbackslist {
        .btncountup, .btncountdown {
            color: $color;
        }
    }

    .table {
        -webkit-backdrop-filter: $backDropFilter !important;
        backdrop-filter: $backDropFilter !important;
        background-color: $bkgColorPrimary !important;
        color: $color;
        border-color: inherit;

        td, th {
            background-color: inherit;
            color: inherit;
        }
    }

    .mdc-dialog__container {
        .mat-mdc-dialog-title {
            border-color: $color;
        }

        .mat-mdc-dialog-actions {
            border-color: $color;
        }

        .mat-mdc-dialog-surface.mdc-dialog__surface {
            -webkit-backdrop-filter: $backDropFilter;
            backdrop-filter: $backDropFilter;
            background-color: $bkgColorPrimary;
            border: $border;
            color: $color;

            .mat-mdc-text-field-wrapper {
                border-color: $color;
            }
            
            .table {
                -webkit-backdrop-filter: $backDropFilter !important;
                backdrop-filter: $backDropFilter !important;
                background-color: $bkgColorPrimary !important;
                color: $color;
                border-color: inherit;

                td, th {
                    background-color: inherit;
                    color: inherit;
                }
            }

           *:not(.table):not(.reactlike):not(.reactdislike):not(.reactlove):not(.reactcourage):not(.reactlaugh):not(.reactsurprised):not(.reactsad):not(.reactangry) {
                color: $color;
                border-color: $color;

                :hover {
                    border-color: $color;
                }
           }
        }
    }

    .mchatblk {
        -webkit-backdrop-filter: $backDropFilter;
        backdrop-filter: $backDropFilter;
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;

        .chatmsgsblk {
            background-color: $bkgColorPrimaryOp !important;
        }
    }

    .muserslistblk, .mchatmsgsblk {
        background-color: $bkgColorSecondary;
        border-color: $color;
        color: $color;

        .mat-mdc-text-field-wrapper {
            background-color: $bkgColorPrimary;
        }

        #description, #description::placeholder {
            color: $color !important;
            border-color: $color !important;
        }
    }

    .postlist {
        .post_avatar_blk {
            img {
                background-color: $color;
            }
        }
        
        .post_avatar_subtitle { 
          .subpost_avatar_subtitle {
            color: $color;
          }
        }
    }

    .mat-drawer-container {
        background-image: $bkgImage;
        background-attachment: $bkgAttachment;
        background-position: $bkgPosition;
        background-repeat: $bkgRepeat;
        background-size: $bkgSize;
    }

    .mynavbar, .myfooter, .footer {
        -webkit-backdrop-filter: $backDropFilter !important;
        backdrop-filter: $backDropFilter !important;
        background-color: $bkgColorPrimary !important;
        border-radius: 0;
        border: 0 !important;
        color: $color;
    }

    .mat-stepper-vertical, .mat-stepper-horizontal {
        --mat-stepper-container-color: $color;
        background-color: transparent;
        color: $color;

        * {
            color: $color;
            border-color: $color;
        }
    }

    .mat-drawer.mat-drawer-side {
        -webkit-backdrop-filter: $backDropFilter;
        backdrop-filter: $backDropFilter;
        background-color: $bkgColorPrimary;
        border: $border;
        color: $color;

        * {
            color: inherit;
        }
    }

    .subchatmsgsblk {
        .received {
            .mat-mdc-card {
                ::after {
                    background: linear-gradient(-225deg, rgba(17, 25, 40, 0.75) 0%, rgba(17, 25, 40, 0.75) 50%, transparent 50%, transparent) !important;
                }
            }
        }

        .sent {
            .mat-mdc-card {                
                ::after {
                    background: linear-gradient(225deg, rgba(17, 25, 40, 0.75) 0%, rgba(17, 25, 40, 0.75) 50%, transparent 50%, transparent) !important;
                }
            }
        }
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
        color: inherit;
    }

    .mat-mdc-tab-group {
        --mat-tab-header-active-label-text-color: $color;
        --mat-tab-header-inactive-label-text-color: $color;

        .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label { 
            color: var(--mat-tab-header-active-label-text-color);
            font-weight: bold;
        }
        
        .mat-mdc-tab .mdc-tab__text-label {
            color: var(--mat-tab-header-inactive-label-text-color);
        }

        .mat-mdc-tab .mdc-tab-indicator__content--underline {
            --mdc-tab-indicator-active-indicator-color: $color;
            border-color: var(--mdc-tab-indicator-active-indicator-color);
        }
    }

    form {
        * {
            color: inherit;
            border-color: inherit;
            caret-color: inherit;
        }

        .form-control:focus {
            background-color: transparent;
        }
    }

    .themeswitchblk, .languageswitchblk {
        color: $color;

        .mat-mdc-form-field {
            backdrop-filter: $backDropFilter;
            -webkit-backdrop-filter: $backDropFilter;
            background-color: $bkgColorPrimary;
            border: $border;
            border-color: inherit;
        }

        .themeswitch, .languageswitch {
            color: $color;
            border-color: inherit;
    
            .mat-mdc-select-min-line {
                color: inherit;
            }
    
            * {
                --mat-select-enabled-trigger-text-color: inherit;
                color: inherit;
                border-color: inherit;
            }
        }
    }

    input:webkit-autofill {
        border-color: $bkgColorPrimary;
    }

    input:autofill {
        border-color: $bkgColorPrimary;
    }
}

@mixin setThemeGlass {
    .mytheme.mytheme-glass {
        @include setContentGlass;
    }
}