<div class="container-fluid register">
    <div class="row mbkgimg">
        <div class="col-12 col-md-6 colhome">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <app-footer></app-footer>
        </div>
        <div class="col-12 col-md-6 colhomeinfo">
            <h2 class="title">Register</h2>
            <mat-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="regForm" label="Auth Details">
                    <form [formGroup]="regForm" class="regform mx-auto" autocomplete="off">
                        <mat-form-field class="mt-3">
                            <mat-label for="username">Username</mat-label>
                            <input id="username" type="text" formControlName="Username"
                                class="form-control text-start mt-3" title="Username" placeholder="Write here your username here" required
                                matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="email">Email</mat-label>
                            <input id="email" type="email" formControlName="Email" class="form-control text-start mt-3"
                                title="Email" placeholder="Write here your email" required matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="password">Password</mat-label>
                            <input id="password" type="password" formControlName="Password"
                                class="form-control text-start mt-3" title="Password" placeholder="Write here your password here" required
                                matInput />
                        </mat-form-field>
                        <div class="form-group mt-3">
                            <button type="button" title="next" mat-flat-button color="accent"
                                matStepperNext [disabled]="!regForm.valid">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="regForm2" label="User info details">
                    <form [formGroup]="regForm2" class="regform mx-auto" (ngSubmit)="onSubmit()" autocomplete="off">
                        <mat-form-field class="mt-3">
                            <mat-label for="firstname">First Name</mat-label>
                            <input id="firstname" type="text" formControlName="FirstName"
                                class="form-control text-start mt-3" title="FirstName" placeholder="Write here your first name here" required
                                matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="lastname">Last Name</mat-label>
                            <input id="lastname" type="text" formControlName="LastName"
                                class="form-control text-start mt-3" title="LastName" placeholder="Write here your last name here" required
                                matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="datebirthday">Date of Birthday</mat-label>
                            <input formControlName="DateBirthday" class="text-start mt-3" placeholder="Write or select here your date of birthday here" matInput [matDatepicker]="datebirthday" required />
                            <mat-datepicker-toggle matIconSuffix [for]="datebirthday"></mat-datepicker-toggle>
                            <mat-datepicker #datebirthday></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="phonenumber">Phone Number</mat-label>
                            <ngx-mat-intl-tel-input [preferredCountries]="['us']" [enablePlaceholder]="true" [enableSearch]="true" name="phonenumber" id="phonenumber" class="text-start phonenumber mt-3" describedBy="phoneInput" formControlName="PhoneNumber" placeholder="Write your phone number here"></ngx-mat-intl-tel-input>
                        </mat-form-field>
                        <div class="form-group mt-3">
                            <button type="button" title="back" mat-flat-button color="primary"
                                matStepperPrevious>Previous</button>
                            <button type="button" title="next" class="ms-3" mat-flat-button color="accent"
                                matStepperNext [disabled]="!regForm2.valid">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="regForm3" label="User cover & avatar">
                    <form [formGroup]="regForm3" class="regform mx-auto" (ngSubmit)="onSubmit()" autocomplete="off">
                        <mat-form-field class="mt-3">
                            <mat-label for="avatarurl">Avatar URL</mat-label>
                            <input id="avatarurl" type="text" formControlName="AvatarUrl" class="form-control text-start mt-3" title="AvatarUrl" placeholder="Write here your avatar url here" matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="coverurl">Cover URL</mat-label>
                            <input id="coverurl" type="text" formControlName="CoverUrl" class="form-control text-start mt-3" title="CoverUrl" placeholder="Write here your cover url here" matInput />
                        </mat-form-field>
                        <div class="form-group mt-3">
                            <button type="button" title="back" mat-flat-button color="primary"
                                matStepperPrevious>Previous</button>
                            <button type="button" title="next" class="ms-3" mat-flat-button color="accent"
                                matStepperNext [disabled]="!regForm2.valid">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <form [formGroup]="regFormFinale" class="regform mx-auto" (ngSubmit)="onSubmit()">
                        <div class="form-group mt-3">
                            <button type="button" mat-flat-button color="primary" (click)="onClear()">Clear</button>
                            <button type="submit" class="ms-3" mat-flat-button color="accent" [disabled]="!regForm.valid && !regForm2.valid">Submit</button>
                        </div>
                    </form>
                    <div class="form-group mt-3">
                        <button type="button" title="back" mat-flat-button color="primary" matStepperPrevious>Previous</button>
                        <button mat-flat-button color="warn" class="ms-3" (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-stepper>

            <!-- <form [formGroup]="regForm" (ngSubmit)="onSubmit()" class="regform">
                <mat-form-field class="mt-3">
                    <mat-label for="username">Username</mat-label>
                    <input id="username" type="text" formControlName="username" class="form-control text-start mt-3" title="Write here your username" required matInput />
                </mat-form-field>
                <mat-form-field class="mt-3">
                    <mat-label for="email">Email</mat-label>
                    <input id="email" type="email" formControlName="email" class="form-control text-start mt-3" title="Write here your email" required matInput />
                </mat-form-field>
                <mat-form-field class="mt-3">
                    <mat-label for="password">Password</mat-label>
                    <input id="password" type="password" formControlName="password" class="form-control text-start mt-3" title="Write here your password" required matInput />
                </mat-form-field>
                <div class="form-group mt-3">
                    <button type="reset" mat-flat-button color="primary">Clear</button>
                    <button type="submit" class="ms-3" mat-flat-button color="accent" [disabled]="!regForm.valid">Submit</button>
                </div>
            </form> -->
            <a mat-flat-button class="mt-3" href="home" color="primary">Back</a>
        </div>
    </div>
</div>