<div class="container-fluid register">
    <div class="row mbkgimg">
        <div class="col-12 col-md-6 colhome">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <app-footer></app-footer>
        </div>
        <div class="col-12 col-md-6 colhomeinfo">
            <h2 class="title">{{ 'auth.register.title' | translate }}</h2>
            <mat-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="regForm" label="{{ 'forms.register.lblAuthDetails' | translate }}">
                    <form [formGroup]="regForm" class="regform mx-auto" autocomplete="off">
                        <mat-form-field class="mt-3">
                            <mat-label for="username">{{ 'forms.register.txtUsername' | translate }}</mat-label>
                            <input id="username" type="text" formControlName="Username"
                                class="form-control text-start mt-3" title="Username"
                                placeholder="{{ 'forms.register.inpUsername' | translate }}" required matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="email">{{ 'forms.register.txtEmail' | translate }}</mat-label>
                            <input id="email" type="email" formControlName="Email" class="form-control text-start mt-3"
                                title="Email" placeholder="{{ 'forms.register.inpEmail' | translate }}" required
                                matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="password">{{ 'forms.register.txtPassword' | translate }}</mat-label>
                            <input id="password" type="password" formControlName="Password"
                                class="form-control text-start mt-3" title="Password"
                                placeholder="{{ 'forms.register.inpPassword' | translate }}" required matInput />
                        </mat-form-field>
                        <div class="form-group mt-3">
                            <button type="button" title="next" mat-flat-button color="accent" matStepperNext
                                [disabled]="!regForm.valid">{{ 'forms.register.btnNext' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="regForm2" label="{{ 'forms.register.lblUserInfoDetails' | translate }}">
                    <form [formGroup]="regForm2" class="regform mx-auto" (ngSubmit)="onSubmit()" autocomplete="off">
                        <mat-form-field class="mt-3">
                            <mat-label for="firstname">{{ 'forms.register.txtFirstName' | translate }}</mat-label>
                            <input id="firstname" type="text" formControlName="FirstName"
                                class="form-control text-start mt-3" title="FirstName"
                                placeholder="{{ 'forms.register.inpFirstName' | translate }}" required matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="lastname">{{ 'forms.register.txtLastName' | translate }}</mat-label>
                            <input id="lastname" type="text" formControlName="LastName"
                                class="form-control text-start mt-3" title="LastName"
                                placeholder="{{ 'forms.register.inpLastName' | translate }}" required matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="datebirthday">{{ 'forms.register.txtDateBirthday' | translate }}</mat-label>
                            <input formControlName="DateBirthday" class="text-start mt-3"
                                placeholder="{{ 'forms.register.inpDateBirthday' | translate }}" matInput
                                [matDatepicker]="datebirthday" required />
                            <mat-datepicker-toggle matIconSuffix [for]="datebirthday"></mat-datepicker-toggle>
                            <mat-datepicker #datebirthday></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="phonenumber">{{ 'forms.register.txtPhoneNumber' | translate }}</mat-label>
                            <ngx-mat-intl-tel-input [preferredCountries]="preferredCountries" [enablePlaceholder]="true"
                                [enableSearch]="true" [placeholder]="'forms.register.inpPhoneNumber' | translate"
                                name="phonenumber" id="phonenumber" class="text-start phonenumber mt-3"
                                describedBy="phoneInput" formControlName="PhoneNumber"></ngx-mat-intl-tel-input>
                        </mat-form-field>
                        <div class="form-group mt-3">
                            <button type="button" title="{{ 'forms.register.btnBack' | translate }}" mat-flat-button
                                color="primary" matStepperPrevious>{{ 'forms.register.btnBack' | translate }}</button>
                            <button type="button" title="{{ 'forms.register.btnNext' | translate }}" class="ms-3"
                                mat-flat-button color="accent" matStepperNext [disabled]="!regForm2.valid">{{
                                'forms.register.btnNext' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="regForm3" label="{{ 'forms.register.lblUserCoverAvatar' | translate }}">
                    <form [formGroup]="regForm3" class="regform mx-auto" (ngSubmit)="onSubmit()" autocomplete="off">
                        <mat-form-field class="mt-3">
                            <mat-label for="avatarurl">{{ 'forms.register.txtAvatarURL' | translate }}</mat-label>
                            <input id="avatarurl" type="text" formControlName="AvatarUrl"
                                class="form-control text-start mt-3" title="AvatarUrl"
                                placeholder="{{ 'forms.register.inpAvatarURL' | translate }}" matInput />
                        </mat-form-field>
                        <mat-form-field class="mt-3">
                            <mat-label for="coverurl">{{ 'forms.register.txtCoverURL' | translate }}</mat-label>
                            <input id="coverurl" type="text" formControlName="CoverUrl"
                                class="form-control text-start mt-3" title="CoverUrl"
                                placeholder="{{ 'forms.register.txtCoverURL' | translate }}" matInput />
                        </mat-form-field>
                        <div class="form-group mt-3">
                            <button type="button" title="{{ 'forms.register.btnPrevious' | translate }}" mat-flat-button
                                color="primary" matStepperPrevious>{{ 'forms.register.btnPrevious' | translate
                                }}</button>
                            <button type="button" title="{{ 'forms.register.btnNext' | translate }}" class="ms-3"
                                mat-flat-button color="accent" matStepperNext [disabled]="!regForm2.valid">{{
                                'forms.register.btnNext' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{ 'forms.register.lblDone' | translate }}</ng-template>
                    <form [formGroup]="regFormFinale" class="regform mx-auto" (ngSubmit)="onSubmit()">
                        <div class="form-group mt-3">
                            <button type="button" mat-flat-button color="primary" (click)="onClear()">
                                {{ 'forms.register.btnClear' | translate }}
                            </button>
                            <button type="submit" class="ms-3" mat-flat-button color="accent"
                                [disabled]="!regForm.valid && !regForm2.valid">
                                {{ 'forms.register.btnSubmit' | translate }}
                            </button>
                        </div>
                    </form>
                    <div class="form-group mt-3">
                        <button type="button" title="back" mat-flat-button color="primary" matStepperPrevious>
                            {{ 'forms.register.btnPrevious' | translate }}
                        </button>
                        <button mat-flat-button color="warn" class="ms-3" (click)="stepper.reset()">
                            {{ 'forms.register.btnReset' | translate }}
                        </button>
                    </div>
                </mat-step>
            </mat-stepper>

            <a mat-flat-button class="mt-3" href="home" color="primary">
                {{ 'forms.register.btnBack' | translate }}
            </a>
        </div>
    </div>
</div>