.regform {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 50%;
}

::ng-deep .register .myfooter {
    position: absolute !important;
}