.regform {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 80%;

    mat-label {
        white-space: nowrap;
    }
}

::ng-deep .regform .phonenumber .mat-mdc-input-element {
    margin-top: 1rem !important;
}

::ng-deep .register .myfooter {
    position: absolute !important;
}