<div class="container-fluid mfeedbacks">
    <div class="row">
        <h2 class="title">
            <mat-icon>feedback</mat-icon>
            {{ 'feedback.title' | translate }}
        </h2>

        <div class="col-12 feedbacks mt-3">
            <form [formGroup]="frmFeedback" (ngSubmit)="onSubmit()" class="feedbackform">
                <mat-form-field class="d-block mt-3">
                    <mat-label for="Title">Title</mat-label>
                    <input type="text" class="form-control title" formControlName="Title"
                        placeholder="Write the title here..." required matInput />
                </mat-form-field>
                <mat-form-field class="d-block mt-3">
                    <mat-label for="Description">Description</mat-label>
                    <textarea class="form-control description" formControlName="Description"
                        placeholder="Suggest something here..." cols="1" rows="10" required matInput></textarea>
                </mat-form-field>
                <div class="form-group mt-3">
                    <button type="button" mat-flat-button color="primary" (click)="onDelete()" [disabled]="(this.feedbacksList$ | async)?.length === 0">Delete all</button>
                    <button type="button" class="ms-3" mat-flat-button color="primary" (click)="onReset()">Reset</button>
                    <button type="submit" class="ms-3" mat-flat-button color="accent" [disabled]="!frmFeedback.valid">
                        Submit
                    </button>
                </div>
            </form>
        </div>

        <div class="col-12 feedbackslist mt-3" *ngIf="(this.feedbacksList$ | async) as myfeedbacks">
            <div *ngIf="myfeedbacks.length > 0">
                <mat-card *ngFor="let myfbs of myfeedbacks" class="feedbackslistitem mt-3">
                    <mat-card-content>
                        <div class="d-flex flex-row justify-content-between align-items-start w-100">
                            <div class="d-flex flex-row justify-content-start align-items-start">
                                <div class="d-flex flex-column justify-content-start align-items-start">
                                    <button class="btn btncountup" (click)="countUp(myfbs.feedbackId, myfbs)">
                                        <mat-icon>arrow_drop_up</mat-icon>
                                    </button>
                                    <p class="feedbackupcount {{myfbs.counter >= 0 ? ((myfbs.counter == 0 ? '' : 'upvote')) : 'downvote'}}">
                                        {{myfbs.counter}}
                                    </p>
                                    <button class="btn btncountdown" (click)="countDown(myfbs.feedbackId, myfbs)">
                                        <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                </div>
                                
                                <div class="d-flex flex-column justify-content-start align-items-start ms-3 mt-3">
                                    <mat-card-title>{{myfbs.title}} (Id: {{myfbs.feedbackId}})</mat-card-title>
                                    <div class="d-flex justify-content-center align-items-center feedbackdateupdated mt-3">
                                        <mat-icon>schedule</mat-icon>
                                        <span class="ms-1" [title]="myfbs.dateFeedbackUpdated | date: 'full' : '' : translateService.currentLang">
                                            {{ myfbs.dateFeedbackUpdated | date: 'short' : '' : translateService.currentLang }}
                                        </span>
                                    </div>
                                    <p class="feedbackdesc mt-3">{{myfbs.description}}</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-start align-items-end">
                                <button mat-icon-button [matMenuTriggerFor]="menuFeedbackEditDialog" aria-label="Edit & delete feedback data">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #menuFeedbackEditDialog="matMenu">
                                    <button mat-menu-item (click)="onEdit(myfbs.feedbackId, myfbs)">
                                      <mat-icon>edit</mat-icon>
                                      <span>Edit</span>
                                    </button>
                                    <button mat-menu-item (click)="onDelete(myfbs.feedbackId, 'id')">
                                      <mat-icon>delete</mat-icon>
                                      <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div *ngIf="myfeedbacks.length == 0">
                <div class="d-flex flex-column justify-content-center align-items-center errblk p-3">
                    <mat-icon>error</mat-icon>
                    <h2 class="text-center mt-3 mb-0">No feedback data!</h2>
                    <button routerLink="/newsfeed" type="button" class="mt-3" mat-flat-button color="primary">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>