<h2 mat-dialog-title>
  @if(this.data.mode === 'all') {
    Confirmation of deletion of all feedbacks
  } @else {
    Confirmation of deletion of current feedback (Id: {{this.data.id}})
  }
</h2>
<mat-dialog-content>
  @if(this.data.mode === 'all') {
    Are you sure you want to delete all feedbacks?
  } @else {
    Are you sure you want to delete current feedback (Id: {{this.data.id}})?
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" class="btn btndelete" (click)="sendDelete()">Yes</button>
  <button mat-flat-button color="primary" class="btn btnclose" mat-dialog-close>No</button>
</mat-dialog-actions>
