@page
@model lcpsnapi.Pages.ContactsModel
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="colcenter">
    <h1>Contacts</h1>

    <ul>
        <li>
            <a href="mailto://luiscarvalho239@gmail.com">LCP SN Admin</a>
        </li>
        <li>
            <a href="mailto://carvalholuigi25@gmail.com">LCP SN Admin (Email alternative)</a>
        </li>
        <li>
            <a href="mailto://webmaster@localhost.loc">LCP SN Webmaster</a>
        </li>
    </ul>

    <a href="/" class="btn btn-primary btnback mt-3">Back to home</a>
</div>