<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
</head>
<body id="main" class="theme">
    <div class="blkmodalmyfriendreqs" id="blkmodalmyfriendreqs"></div>
    <div class="blkmodalmyprivatemessages" id="blkmodalmyprivatemessages"></div>
    <div class="blkmodalmynotifications" id="blkmodalmynotifications"></div>
    <div class="blkmodalmyreactions" id="blkmodalmyreactions"></div>
    <div class="blkmodalmyshares" id="blkmodalmyshares"></div>
    <div class="blkmodalmysharepost" id="blkmodalmysharepost"></div>

    <div class="mynavbarblk" id="mynavbarblk"></div>

    <div class="container max-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3 sideleft">
                <div class="subside">
                    <div class="mysidebarleft" id="mysidebarleft"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 sidecenter">
                <div class="subside">
                   <div class="mystoriesblk" id="mystoriesblk"></div>
                </div>
                <div class="subside">
                    <div class="mypostsenderblk" id="mypostsenderblk"></div>
                </div>
                <div class="subside">
                    <div class="mypostsblk" id="mypostsblk"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3 sideright">
                <div class="subside">
                    <div class="blkblogposts">
                        <p class="title">Blog posts</p>
                        <ul class="listblogposts">
                            <li class="blogpost1">
                                <img src="/assets/images/default.webp" alt="img1" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp1" class="txtblogpost">
                                    News title 1
                                </a>
                            </li>
                            <li class="blogpost2">
                                <img src="/assets/images/default.webp" alt="img2" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp2" class="txtblogpost">
                                    News title 2
                                </a>
                            </li>
                            <li class="blogpost3">
                                <img src="/assets/images/default.webp" alt="img3" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp3" class="txtblogpost">
                                    News title 3
                                </a>
                            </li>
                            <li class="blogpost4">
                                <img src="/assets/images/default.webp" alt="img4" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp4" class="txtblogpost">
                                    News title 4
                                </a>
                            </li>
                            <li class="blogpost5">
                                <img src="/assets/images/default.webp" alt="img5" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp5" class="txtblogpost">
                                    News title 5
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="blkadvertisment">
                        <p class="titleads">Advertisment</p>
                        <img src="/assets/images/default.webp" alt="adv img 1" loading="lazy" class="imgadvertisment" />
                    </div>
                    <div class="blkmembersstatus">
                        <p class="title">Members (2):</p>
                        <ul class="listmembers">
                            <li>
                                <img src="/assets/images/luigi.png" alt="luigi carvalho" width="50" height="50" class="imgmember" />
                                <span class="status online"></span>
                                <a href="pages/profile.html?id=1" class="name">Luigi Carvalho</a>
                            </li>
                            <li>
                                <img src="/assets/images/guest.png" alt="guest convidado" width="50" height="50" class="imgmember guest" />
                                <span class="status busy"></span>
                                <a href="pages/profile.html?id=2" class="name">Guest Convidado</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="mycopyrightblk" id="mycopyrightblk"></div>
</body>
</html>