<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
</head>
<body id="main" class="theme">
    <div class="blkmodalmyfriendreqs" id="blkmodalmyfriendreqs"></div>
    <div class="blkmodalmyprivatemessages" id="blkmodalmyprivatemessages"></div>
    <div class="blkmodalmynotifications" id="blkmodalmynotifications"></div>
    <div class="blkmodalmyreactions" id="blkmodalmyreactions"></div>
    <div class="blkmodalmyshares" id="blkmodalmyshares"></div>
    <div class="blkmodalmysharepost" id="blkmodalmysharepost"></div>
    <div class="blkmodaleditmypost" id="blkmodaleditmypost"></div>
    <div class="blkmodaldelmypost" id="blkmodaldelmypost"></div>

    <div class="mynavbarblk" id="mynavbarblk"></div>

    <div class="container max-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3 sideleft">
                <div class="subside">
                    <div class="mysidebarleft" id="mysidebarleft"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 sidecenter">
                <div class="subside">
                    <div class="blkstories">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                                <img src="assets/images/default.webp" class="imgstories">
                                <div class="authorstories">
                                    <span class="nameauthorstories">Luigi Carvalho</span>
                                    <img src="assets/images/guest.png" class="imgauthorstories">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                                <img src="assets/images/default.webp" class="imgstories">
                                <div class="authorstories">
                                    <span class="nameauthorstories">Mario</span>
                                    <img src="assets/images/guest.png" class="imgauthorstories">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                                <img src="assets/images/default.webp" class="imgstories">
                                <div class="authorstories">
                                    <span class="nameauthorstories">Luigi Carvalho</span>
                                    <img src="assets/images/guest.png" class="imgauthorstories">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                                <img src="assets/images/default.webp" class="imgstories">
                                <div class="authorstories">
                                    <span class="nameauthorstories">Mario</span>
                                    <img src="assets/images/guest.png" class="imgauthorstories">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                                <img src="assets/images/default.webp" class="imgstories">
                                <div class="authorstories">
                                    <span class="nameauthorstories">Luigi Carvalho</span>
                                    <img src="assets/images/guest.png" class="imgauthorstories">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                                <img src="assets/images/default.webp" class="imgstories">
                                <div class="authorstories">
                                    <span class="nameauthorstories">Mario</span>
                                    <img src="assets/images/guest.png" class="imgauthorstories">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subside">
                    <div class="blkpostsender">
                        <div class="blkpostsenderheader">
                            <img src="assets/images/guest.png" width="50" height="50" class="img-fluid imguser">
                            <form action="" method="post" class="formposter ms-2" id="formposter">
                                <textarea name="text" id="text" cols="1" rows="3" placeholder="What you are thinking this time, Luigi?"></textarea>
                                <!-- <input type="text" name="text" id="text" placeholder="What you are thinking this time, Luigi?" /> -->
                            </form>
                        </div>
                        <div class="blkpostsenderbody">
                            <div class="blkposterbodycontainer mt-3">
                                <div class="input-group t-left d-block">
                                    <button class="btn btn-primary btnimages">
                                        <i class="bi bi-images"></i>
                                        <span class="ms-1">Images</span>
                                    </button>
                                    <button class="btn btn-primary btnvideos">
                                        <i class="bi bi-camera-video"></i>
                                        <span class="ms-1">Videos</span>
                                    </button>
                                    <button class="btn btn-primary btnemojis">
                                        <i class="bi bi-emoji-smile"></i>
                                        <span class="ms-1">Emojis</span>
                                    </button>
                                </div>
                                <div class="input-group t-right d-block">
                                    <div class="dropdown selstatus">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          <i class="bi bi-globe me-1"></i>
                                          Public
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li>
                                            <a class="dropdown-item" href="pages/main.html#public">
                                                <i class="bi bi-globe me-1"></i>
                                                Public
                                            </a>
                                          </li>
                                          <li>
                                            <a class="dropdown-item" href="pages/main.html#private">
                                                <i class="bi bi-lock me-1"></i>
                                                Private
                                            </a>
                                          </li>
                                        </ul>
                                    </div>
                                    <button type="reset" class="btn btn-secondary btnclear" id="btnclear">
                                        <i class="bi bi-x-circle"></i>
                                        <span class="ms-1">Clear</span>
                                    </button>
                                    <button type="button" class="btn btn-primary btnpost" id="btnpost">
                                        <i class="bi bi-plus-circle"></i>
                                        <span class="ms-1">Post</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subside">
                    <div class="blkpost">
                        <div class="blkpostheader">
                            <div class="blkphleft">
                                <img src="assets/images/guest.png" width="50" height="50" class="img-fluid imguser">
                                <div class="blkphtext ms-2">
                                    <span class="text-truncate">Luigi Carvalho</span>
                                    <div class="blkphtextrow">
                                        <a href="pages/main.html#status"><i class="bi bi-globe"></i> Public</a>
                                        <a href="pages/main.html#datetime" class="ms-3"><i class="bi bi-calendar-date"></i> 2022-09-02 14:38:00</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blkphright">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                      <a class="dropdown-item btneditpost" id="btneditpost" href="pages/main.html#edit">
                                        <i class="bi bi-pen"></i>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item btndelpost" id="btndelpost" href="pages/main.html#delete">
                                        <i class="bi bi-trash"></i>
                                        Delete
                                      </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blkpostbody">
                            <img src="/assets/images/default.webp" alt="Default image post" class="imgpost" />
                            <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident amet ea porro tenetur commodi dolor soluta similique. Ratione asperiores tempora assumenda nisi eaque pariatur, sed illum beatae doloribus? Perspiciatis, nostrum?</p>
                            <div class="links p-3 d-block">
                                <a href="pages/main.html#reacts" id="myreactsstats" class="myreactsstats">
                                    0 reacts
                                </a>
                                <a href="pages/main.html#shares" id="mysharesstats" class="mysharesstats ms-2">
                                    0 shares
                                </a>
                                <a href="pages/main.html#comments" id="mycommentsstats" class="mycommentsstats ms-2">
                                    0 comments
                                </a>
                            </div>
                            <div class="actionlinks input-group p-3">
                                <div class="colactionlinks t-left">
                                    <div class="blkreactlist hidden" id="blkreactlist">
                                        <div class="sreactgrp" id="sreactgrp">
                                            <div class="reactgrp reactlike">
                                                <a href="pages/main.html#react#like">
                                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                                </a>
                                            </div>
                                            <div class="reactgrp reactdislike">
                                                <a href="pages/main.html#react#dislike">
                                                    <i class="bi bi-hand-thumbs-down-fill"></i>
                                                </a>
                                            </div>
                                            <div class="reactgrp reactsad">
                                                <a href="pages/main.html#react#sad">
                                                    <i class="bi bi-emoji-frown-fill"></i>
                                                </a>
                                            </div>
                                            <div class="reactgrp reactangry">
                                                <a href="pages/main.html#react#angry">
                                                    <i class="bi bi-emoji-angry-fill"></i>
                                                </a>
                                            </div>
                                            <div class="reactgrp reactlaugh">
                                                <a href="pages/main.html#react#laugh">
                                                    <i class="bi bi-emoji-laughing-fill"></i>
                                                </a>
                                            </div>
                                            <div class="reactgrp reactdisgusting">
                                                <a href="pages/main.html#react#disgusting">
                                                    <i class="bi bi-emoji-dizzy-fill"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btnshreact" id="btnshreact">
                                        <i class="bi bi-emoji-smile"></i>
                                        React
                                    </button>
                                </div>
                                <div class="colactionlinks t-center">
                                    <button class="btn btn-primary btnshcomments" id="btnshcomments">
                                        <i class="bi bi-chat-square-dots"></i>
                                        Comment
                                    </button>
                                </div>
                                <div class="colactionlinks t-right">
                                    <button class="btn btn-primary btnshshares" id="btnshshares">
                                        <i class="bi bi-share"></i>
                                        Share
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="blkpostfooter hidden">
                            <hr>
                            <h3>Comments</h3>
                            <div class="blkpostercomments mt-3 mb-3">
                                <form action="" method="post" class="frmpostercomment" id="frmpostercomment">
                                    <h4 class="d-block" style="font-size: 1rem; font-weight: bold;">Leave a comment</h4>

                                    <div class="d-block mt-3 mb-3">
                                        <label for="txtuname">Username:</label>
                                        <input type="text" name="txtusername" id="txtusername" class="form-control txtusername mt-3 d-block" placeholder="Write here your username" />

                                        <label for="txtcomment" class="mt-3">Message:</label>
                                        <textarea name="txtcomment" id="txtcomment" class="form-control txtcomment mt-3 d-block" cols="1" rows="5" placeholder="Just write here your comment to this post!"></textarea>
                                    </div>

                                    <div class="input-group mt-3">
                                        <div class="dropdown selstatus">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              <i class="bi bi-globe me-1"></i>
                                              Public
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li>
                                                <a class="dropdown-item" href="pages/main.html#public">
                                                    <i class="bi bi-globe me-1"></i>
                                                    Public
                                                </a>
                                              </li>
                                              <li>
                                                <a class="dropdown-item" href="pages/main.html#private">
                                                    <i class="bi bi-lock me-1"></i>
                                                    Private
                                                </a>
                                              </li>
                                            </ul>
                                        </div>
                                        <input type="reset" class="btn btn-secondary btnclearcom ms-2" value="Clear" style="border-radius: 25px" />
                                        <input type="submit" class="btn btn-primary btnsendcom ms-2" value="Send" style="border-radius: 25px" />
                                    </div>
                                </form>
                            </div>
                            <div class="blkpostcomments mt-3">
                                <div class="blkpostcommentsheader">
                                    <div class="blkphcleft">
                                        <img src="assets/images/guest.png" width="50" height="50" class="img-fluid imguser">
                                        <div class="blkphctext ms-2">
                                            <span class="text-truncate">Luigi Carvalho</span>
                                            <div class="blkphctextrow">
                                                <a href="pages/main.html#status"><i class="bi bi-globe"></i> Public</a>
                                                <a href="pages/main.html#datetime" class="ms-3"><i class="bi bi-calendar-date"></i> 2022-09-02 14:38:00</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blkphcright">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                              <a class="dropdown-item" href="pages/main.html#edit">
                                                <i class="bi bi-pen"></i>
                                                Edit
                                              </a>
                                            </li>
                                            <li>
                                              <a class="dropdown-item" href="pages/main.html#delete">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blkpostcommentsbody">
                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ad aliquam aspernatur quibusdam itaque optio blanditiis, quae, ipsam veniam adipisci ullam? Ducimus obcaecati eaque impedit consequatur necessitatibus laborum, sint natus.</p>
                                </div>
                            </div>
                            <div class="blkpostcomments mt-3">
                                <div class="blkpostcommentsheader">
                                    <div class="blkphcleft">
                                        <img src="assets/images/guest.png" width="50" height="50" class="img-fluid imguser">
                                        <div class="blkphctext ms-2">
                                            <span class="text-truncate">John Doe</span>
                                            <div class="blkphctextrow">
                                                <a href="pages/main.html#status"><i class="bi bi-globe"></i> Public</a>
                                                <a href="pages/main.html#datetime" class="ms-3"><i class="bi bi-calendar-date"></i> 2022-09-02 14:38:00</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blkphcright">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                              <a class="dropdown-item" href="pages/main.html#edit">
                                                <i class="bi bi-pen"></i>
                                                Edit
                                              </a>
                                            </li>
                                            <li>
                                              <a class="dropdown-item" href="pages/main.html#delete">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blkpostcommentsbody">
                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ad aliquam aspernatur quibusdam itaque optio blanditiis, quae, ipsam veniam adipisci ullam? Ducimus obcaecati eaque impedit consequatur necessitatibus laborum, sint natus.</p>
                                </div>
                            </div>
                            <div class="blkpostcomments mt-3">
                                <div class="blkpostcommentsheader">
                                    <div class="blkphcleft">
                                        <img src="assets/images/guest.png" width="50" height="50" class="img-fluid imguser">
                                        <div class="blkphctext ms-2">
                                            <span class="text-truncate">Mary Doe</span>
                                            <div class="blkphctextrow">
                                                <a href="pages/main.html#status"><i class="bi bi-globe"></i> Public</a>
                                                <a href="pages/main.html#datetime" class="ms-3"><i class="bi bi-calendar-date"></i> 2022-09-02 14:38:00</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blkphcright">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                              <a class="dropdown-item" href="pages/main.html#edit">
                                                <i class="bi bi-pen"></i>
                                                Edit
                                              </a>
                                            </li>
                                            <li>
                                              <a class="dropdown-item" href="pages/main.html#delete">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blkpostcommentsbody">
                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ad aliquam aspernatur quibusdam itaque optio blanditiis, quae, ipsam veniam adipisci ullam? Ducimus obcaecati eaque impedit consequatur necessitatibus laborum, sint natus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3 sideright">
                <div class="subside">
                    <div class="blkblogposts">
                        <p class="title">Blog posts</p>
                        <ul class="listblogposts">
                            <li class="blogpost1">
                                <img src="/assets/images/default.webp" alt="img1" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp1" class="txtblogpost">
                                    News title 1
                                </a>
                            </li>
                            <li class="blogpost2">
                                <img src="/assets/images/default.webp" alt="img2" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp2" class="txtblogpost">
                                    News title 2
                                </a>
                            </li>
                            <li class="blogpost3">
                                <img src="/assets/images/default.webp" alt="img3" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp3" class="txtblogpost">
                                    News title 3
                                </a>
                            </li>
                            <li class="blogpost4">
                                <img src="/assets/images/default.webp" alt="img4" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp4" class="txtblogpost">
                                    News title 4
                                </a>
                            </li>
                            <li class="blogpost5">
                                <img src="/assets/images/default.webp" alt="img5" width="50" height="50" loading="lazy" class="imgblogpost" />
                                <a href="pages/main.html#blogp5" class="txtblogpost">
                                    News title 5
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="blkadvertisment">
                        <p class="titleads">Advertisment</p>
                        <img src="/assets/images/default.webp" alt="adv img 1" loading="lazy" class="imgadvertisment" />
                    </div>
                    <div class="blkmembersstatus">
                        <p class="title">Members (3):</p>
                        <ul class="listmembers">
                            <li>
                                <img src="/assets/images/default.webp" alt="luigi carvalho" width="50" height="50" class="imgmember" />
                                <span class="status online"></span>
                                <a href="pages/profile.html#uid1" class="name">Luigi Carvalho</a>
                            </li>
                            <li>
                                <img src="/assets/images/default.webp" alt="john doe" width="50" height="50" class="imgmember" />
                                <span class="status busy"></span>
                                <a href="pages/profile.html#uid2" class="name">John Doe</a>
                            </li>
                            <li>
                                <img src="/assets/images/default.webp" alt="mary doe" width="50" height="50" class="imgmember" />
                                <span class="status offline"></span>
                                <a href="pages/profile.html#uid3" class="name">Mary Doe</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="mycopyrightblk" id="mycopyrightblk"></div>
</body>
</html>