<div class="container-fluid home">
    <div class="row mbkgimg">
        <div class="col-12 col-md-6 colhome">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <app-footer></app-footer>
        </div>
        <div class="col-12 col-md-6 colhomeinfo">
            <h2 class="title">Welcome!</h2>
            @if(user) {
                <a mat-flat-button href="/newsfeed" color="primary">Enter</a>
            } @else {
                <a mat-flat-button href="/auth/login" color="primary">Login</a>
            }
        </div>
    </div>
</div>
