<div class="container p-3">
    <div class="row">
        <div class="col-12 p-3 admindashboard">
            <h1><mat-icon>dashboard</mat-icon> {{ 'admin.dashboard.title' | translate }}</h1>

            @if((curLogRole$ | async) == "Administrator") {
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" *ngIf="(users$ | async)">
                        <mat-card class="cardusers">
                            <mat-card-content>
                                <div class="d-flex justify-content-between align-items-center">
                                    {{ (users$ | async)?.length }} Users
                                    <mat-icon class="ico">account_circle</mat-icon>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" *ngIf="(posts$ | async)">
                        <mat-card class="cardposts">
                            <mat-card-content>
                                <div class="d-flex justify-content-between align-items-center">
                                    {{ (posts$ | async)?.length }} Posts
                                    <mat-icon class="ico">newspaper</mat-icon>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" *ngIf="latestUser">
                        <mat-card class="cardlatestuser">
                            <mat-card-content>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="m-0">Latest user: <a routerLink="/users/{{ latestUser?.userId }}">{{ latestUser?.firstName + " " + latestUser?.lastName }}</a></p>
                                    <myimg [imgObj]="{ url: latestUser?.avatarUrl, alt: latestUser?.avatarUrl, class: 'img-fluid img-avatar', width: '30', height: '30' }" />
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <app-graph></app-graph>
                    </div>
                </div>    
            } @else {
                <div class="d-flex flex-column justify-content-center align-items-center errblk mt-3">
                    <mat-icon>error</mat-icon>
                    <h2 class="tjustify mt-3">You are not authorized to access this page!</h2>
                </div>
            }
        </div>
    </div>
</div>

<app-footer></app-footer>