<div class="container-fluid login">
    <div class="row mbkgimg">
        <div class="col-12 col-md-6 colhome">
            <div class="blklogo">
                <h1 class="logo">LCP Social Network</h1>
            </div>
            <app-footer></app-footer>
        </div>
        <div class="col-12 col-md-6 colhomeinfo">
            <h2 class="title">Login</h2>
            <form [formGroup]="logForm" (ngSubmit)="onSubmit()" class="logform">
                <mat-form-field class="mt-3">
                    <mat-label for="username">Username</mat-label>
                    <input id="username" type="text" formControlName="Username" class="form-control text-start mt-3" title="Write here your username" required matInput />
                </mat-form-field>
                <mat-form-field class="mt-3">
                    <mat-label for="password">Password</mat-label>
                    <input id="password" type="password" formControlName="Password" class="form-control text-start mt-3" title="Write here your password" required matInput />
                </mat-form-field>
                <div class="form-group mt-3">
                    <button type="reset" mat-flat-button color="primary">Clear</button>
                    <button type="submit" class="ms-3" mat-flat-button color="accent" [disabled]="!logForm.valid">Submit</button>
                </div>
            </form>
            <p class="mt-3">You dont have account? Please <a href="auth/register">register here</a>.</p>
            <a mat-flat-button class="mt-3" href="home" color="primary">Back</a>
        </div>
    </div>
</div>
