@import "bootstrap/scss/bootstrap";
@import "themes.scss";

* {
    box-sizing: border-box;
    white-space: normal;
    word-wrap: break-word;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ctalertdefault {
    &.mat-mdc-snack-bar-container {
        --mdc-snackbar-container-color: black;
        --mat-mdc-snack-bar-button-color: white;
        --mat-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}

.ctalertsuccess { 
    &.mat-mdc-snack-bar-container {
        --mdc-snackbar-container-color: rgb(2, 170, 2);
        --mat-mdc-snack-bar-button-color: white;
        --mat-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}

.ctalerterror { 
    &.mat-mdc-snack-bar-container {
        --mdc-snackbar-container-color: rgb(197, 2, 2);
        --mat-mdc-snack-bar-button-color: white;
        --mat-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}

.ctalertinfo { 
    &.mat-mdc-snack-bar-container {
        --mdc-snackbar-container-color: rgb(5, 5, 219);
        --mat-mdc-snack-bar-button-color: white;
        --mat-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}

.mbkgimg {
    background-image: url('/assets/images/bkg.jpeg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colhome {
    position: relative;
    background-color: transparent;
    min-height: 100vh;    
    color: black;

    .blklogo {
        position: absolute;
        bottom: auto;
        top: 50%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        color: white;
        width: 100%;
        text-align: center;
        
        .logo {
            font-size: 3rem;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        text-align: center;
        color: white;

        .pagelinks {
            color: inherit;
            margin: 15px auto;

            a {
                margin: auto 5px;
            }
        }

        .copyright {
            margin: 15px auto;

            a {
                text-decoration: underline;
                font-style: italic;
                margin: auto 5px;
            }
        }

        a {
            color: inherit;
            margin: auto auto;
        }
    }
}

.colhomeinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: white;
    color: black;

    & {
        .title {
            font-size: 2rem;
        }
    }
}

.pagetos, .pagecoc, 
.pageprivacypolicy, .pagecookiepolicy {
    display: block;
    position: relative;
    background-color: white;
    min-height: 100vh;
    text-align: center;
    padding: 15px;
    color: black;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    .blklogo {
        padding: 0;
        height: 15vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        color: inherit;
    }

    .title {
        margin: 15px;
        color: inherit;
    }

    .desc {
        text-align: justify;
        line-height: 2rem;
        color: inherit;
    }

    .footer {
        position: relative;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        color: inherit;

        .pagelinks {
            color: inherit;
            margin: 15px auto;

            a {
                margin: auto 5px;
            }
        }

        .copyright {
            margin: 15px auto;

            a {
                text-decoration: underline;
                font-style: italic;
                margin: auto 5px;
            }
        }

        a {
            color: inherit;
            margin: auto auto;
        }
    }
}

.postsForm {
    padding: 15px;
    margin-top: 15px;
}

a.active {
    font-weight: bold;
}

input {
    text-align: left;
}

form {
    .mdc-text-field--outlined .mat-mdc-form-field-infix, 
    .mdc-text-field--no-label .mat-mdc-form-field-infix,
    .mdc-select--outlined .mat-mdc-form-field-infix, 
    .mdc-select--no-label .mat-mdc-form-field-infix,
    .mdc-textarea-field--outlined .mat-mdc-form-field-infix, 
    .mdc-textarea-field--no-label .mat-mdc-form-field-infix {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.themeblk {
    margin: 15px auto;
    color: white;

    .sthemeblk {
        color: white;
        border-color: white;
        
        .mdc-notched-outline {
            border: 0;
            border: 1px solid white;
            border-radius: 5px;
        }

        .mat-mdc-select-min-line {
            color: white;
        }

        * {
            --mat-select-enabled-trigger-text-color: white;
            color: white;
            border-color: white;
        }
    }
}

@media all and (width >= 769px) and (width <= 992px) {
    .colhome {
        .blklogo {
            .logo {
                font-size: 2rem;
            }
        }
    }
}

@media all and (width <= 768px) {
    .colhome {
        order: 1;

        .blklogo {
            .logo {
                font-size: 2rem;
            }
        }
    }

    .colhomeinfo {
        order: 0;
    }
}