@mixin setContentTheme($theme) {
    .colhome {
        @if($theme == "glass") {
            background-color: transparent;
        } @else if($theme == "dark") {
            background-color: rgba(20, 20, 20, .5);
            color: white;
        } @else if($theme == "light") {
            background-color: rgba(243, 243, 243, .5);
            color: black;
        } @else {
            background-color: inherit;
            color: inherit;
        }
    }

    .pagetos,
    .pagecoc, .pageprivacypolicy,
    .pagecookiepolicy {
        @if($theme == "glass") {
            background-color: rgba(17, 25, 40, 0.75);
            border: 1px solid rgba(255, 255, 255, 0.125);
            color: white;
        } @else if($theme == "dark") {
            background-color: rgb(20, 20, 20);
            color: white;
        } @else if($theme == "light") {
            background-color: rgba(243, 243, 243, .7);
            color: black;
        } @else {
            background-color: inherit;
            color: inherit;
        }

        .blklogo {
            @if($theme == "glass") {
                background-color: rgba(17, 25, 40, 0.75);
                border: 1px solid rgba(255, 255, 255, 0.125);
                color: white;
            } @else if($theme == "dark") {
                background-color: black;
                color: white;
            } @else if($theme == "light") {
                background-color: rgba(243, 243, 243, .7);
                color: black;
            } @else {
                background-color: inherit;
                color: inherit;
            }
            color: inherit;
        }
    }

    .colhomeinfo, .settings,
    .mat-mdc-card, .postsForm,
    .postsCreateForm, .postsUpdateForm,
    .postsDeleteForm, .errblk {
        @if($theme == "glass") {
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(17, 25, 40, 0.75);
            border: 1px solid rgba(255, 255, 255, 0.125);
            color: white;
        } @else if($theme == "dark") {
            background-color: rgb(20, 20, 20);
            color: white;
        } @else if($theme == "light") {
            background-color: rgba(243, 243, 243, .7);
            color: black;
        } @else {
            background-color: inherit;
            color: inherit;
        }
    }

    .mat-drawer-container {
        @if ($theme == "glass") {
            background-image: url('/assets/images/bkg.jpeg');
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        } @else if($theme == "dark") {
            background-color: black;
            color: white;
        } @else if($theme == "light") {
            background-color: white;
            color: black;
        } @else {
            background-color: inherit;
            color: inherit;
        }
    }

    .mynavbar, .myfooter, .footer {
        @if($theme == "glass") {
            backdrop-filter: blur(16px) saturate(180%) !important;
            -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
            background-color: rgba(17, 25, 40, 0.75) !important;
            border-radius: 0;
            border: 0 !important;
            color: white;
        } @else if($theme == "dark") {
            background-color: rgb(20, 20, 20) !important;
            color: white;
        } @else if($theme == "light") {
            background-color: rgb(243, 243, 243) !important;
            color: black;
        } @else {
            background-color: inherit !important;
            color: inherit;
        }
    }

    .mat-stepper-vertical, .mat-stepper-horizontal {
        --mat-stepper-container-color: white;
        background-color: transparent;
        color: white;

        * {
            color: white;
            border-color: white;
        }
    }

    .mat-drawer.mat-drawer-side {
        @if($theme == "glass") {
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(17, 25, 40, 0.75);
            border: 1px solid rgba(255, 255, 255, 0.125);
            color: white;
        } @else if($theme == "dark") {
            background-color: rgb(20, 20, 20);
            color: white;
        } @else if($theme == "light") {
            background-color: rgb(243, 243, 243);
            color: black;
        } @else {
            background-color: inherit;
            color: inherit;
        }

        * {
            color: inherit;
        }
    }

    form {
        * {
            color: white !important;
            border-color: white !important;
        }

        .form-control:focus {
            background-color: transparent;
        }
    }

    .themeswitchblk {
        @if($theme == "glass") {
            color: white;
        } @else if ($theme == "dark") {
            color: white;
        } @else if ($theme == "light") {
            color: black;
        } @else {
            color: inherit;
        }

        .mat-mdc-form-field {
            @if($theme == "glass") {
                backdrop-filter: blur(16px) saturate(180%);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                background-color: rgba(17, 25, 40, 0.75);
                border: 1px solid rgba(255, 255, 255, 0.125);
            } @else if ($theme == "dark") {
                background-color: black;
            } @else if ($theme == "light") {
                background-color: white;
            } @else {
                background-color: #3f51b5;
            }

            border-color: inherit;
        }

        .themeswitch {
            @if($theme == "glass") {
                color: white;
            } @else if ($theme == "dark") {
                color: white;
            } @else if ($theme == "light") {
                color: black;
            } @else {
                color: white;
            }

            border-color: inherit;
    
            .mat-mdc-select-min-line {
                color: inherit;
            }
    
            * {
                --mat-select-enabled-trigger-text-color: inherit;
                color: inherit;
                border-color: inherit;
            }
        }
    }

    input:webkit-autofill {
        border-color: rgba(17, 25, 40, 0.75);
    }

    input:autofill {
        border-color: rgba(17, 25, 40, 0.75);
    }
}

@mixin setTheme($themes) {
    @each $theme in $themes {
        .mytheme.mytheme-#{$theme} {
            @include setContentTheme($theme);
        }
    }
}

$arythemes: "glass", "dark", "light";
@include setTheme($arythemes);